/* q1 */
/* div{
    background-color: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
} */

/* additional question */
/* #back{
    width: 100px;
    height: 200px;
    background-color: black;
    padding: 10px;
}

.colour{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: greenyellow;
} */

/* *{
    padding: 0;
    margin: 0;
    color: white;
}

#navbar{
    background-color: #0f1111;
    height: 60px;
}

a{
    margin-right: 200px;
    text-decoration: none;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

button{
    background-color: #f08804;
} */